In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
import xlrd
import csv
from datetime import datetime

In [2]:
# read .csv file
df = pd.read_csv('PI Analyst Data Set Feb 2020.csv')

In [3]:
# visually assess the data set
df.head()

,STORE,CUSTOMER ID,DATE,DAY OF THE WEEK,SHOPPING TRIP ID,UPC,TOTAL AMOUNT(Unit price* QTY),QUANTITY,CATEGORY,SUBCATEGORY,PRODUCT DESCRIPTION,BRAND
0,A,RGWZGML,12/20/2019,Fri,SNVISCLSTBQQ1B5QBX,2.129990e+11,3645.00,9.0,major misc,major misc,(null),(null)
1,C,XX77GXLZ,12/20/2019,Fri,SNVISCLSTBQY1N1TQ3,2.559360e+10,494.67,33.0,Self Service Deli Food Bar,Hot Entrees,DELI MEAL DEAL,(null)
2,C,1MG1MGG,12/11/2019,Wed,SNVISCLSTGXT1YNYYY,8.289611e+09,455.76,24.0,Wine,1.5 L,FETZER VALLEY OAKS CHARDONNAY,FETZER
3,A,XX7RGM1L,12/31/2019,Tue,SNVISCLSTTXY3N33YB,9.999110e+05,434.74,12.0,major misc,major misc,(null),(null)
4,C,RWL7MW7,12/19/2019,Thur,SNVISCLSTBTX215N1N,2.111930e+11,392.33,1.0,major misc,major misc,(null),(null)

In [4]:
# size of data set
print(df.shape)

(988069, 12)

In [5]:
# check data types of each column
df.dtypes

STORE                             object
CUSTOMER ID                       object
DATE                              object
DAY OF THE WEEK                   object
SHOPPING TRIP ID                  object
UPC                              float64
TOTAL AMOUNT(Unit price* QTY)    float64
QUANTITY                         float64
CATEGORY                          object
SUBCATEGORY                       object
PRODUCT DESCRIPTION               object
BRAND                             object
dtype: object

In [6]:
# describe data set to further analyze the data
df.describe()

                UPC  TOTAL AMOUNT(Unit price* QTY)       QUANTITY
count  9.880690e+05                  988069.000000  988069.000000
mean   2.968028e+10                       5.310116       1.225753
std    5.988818e+10                     102.151214       0.840279
min    4.000000e+00                 -101100.000000     -20.000000
25%    2.840059e+09                       2.550000       1.000000
50%    7.056089e+09                       3.990000       1.000000
75%    3.006779e+10                       6.450000       1.000000
max    9.781980e+11                    3645.000000      79.000000

## Category Analysis on per-week basis
- Total revenue ranked highest to lowest
Total revenue for each category/days*7
- Average sales per unit
- Total units moved

In [7]:
# make a copy of data set
df_CA = df.copy()
df_brands = df.copy()

In [8]:
df_CA.head()

,STORE,CUSTOMER ID,DATE,DAY OF THE WEEK,SHOPPING TRIP ID,UPC,TOTAL AMOUNT(Unit price* QTY),QUANTITY,CATEGORY,SUBCATEGORY,PRODUCT DESCRIPTION,BRAND
0,A,RGWZGML,12/20/2019,Fri,SNVISCLSTBQQ1B5QBX,2.129990e+11,3645.00,9.0,major misc,major misc,(null),(null)
1,C,XX77GXLZ,12/20/2019,Fri,SNVISCLSTBQY1N1TQ3,2.559360e+10,494.67,33.0,Self Service Deli Food Bar,Hot Entrees,DELI MEAL DEAL,(null)
2,C,1MG1MGG,12/11/2019,Wed,SNVISCLSTGXT1YNYYY,8.289611e+09,455.76,24.0,Wine,1.5 L,FETZER VALLEY OAKS CHARDONNAY,FETZER
3,A,XX7RGM1L,12/31/2019,Tue,SNVISCLSTTXY3N33YB,9.999110e+05,434.74,12.0,major misc,major misc,(null),(null)
4,C,RWL7MW7,12/19/2019,Thur,SNVISCLSTBTX215N1N,2.111930e+11,392.33,1.0,major misc,major misc,(null),(null)

In [9]:
df_CA.CATEGORY.unique()

array(['major misc', 'Self Service Deli Food Bar', 'Wine', 'Fresh Beef',
       'Fresh Pork', 'Fresh Prepared Meat', 'Bouquets and Cut Flowers',
       'Fresh Shellfish', '(null)', 'Baby Food', 'Bottled Water',
       'Frozen Shellfish', 'Grapes', 'Fresh Fish', 'Produce Juice',
       'Seasonal Merchandise and Misc GM', 'Beer', 'Juice',
       'Self Service Deli Cold', 'Alternative Beverages', 'Housewares',
       'Tobacco', 'Ham', 'Misc Produce', 'Baking Ingredients', 'Bacon',
       'Fresh Chicken', 'Service Deli', 'Fresh Cut', 'In Store Bakery',
       'Frozen Seafood', 'Frozen Snack', 'Frozen Fish',
       'Other Prepared and Ready To Heat', 'Bakery Bread', 'Incontinence',
       'Frozen Poultry and Meat', 'Functional Beverages', 'Other Seafood',
       'Adult Nutrition', 'Vitamins and Supplements', 'Plants',
       'Ice Cream', 'Cat Food', 'Carbonated Beverages', 'Fresh Turkey',
       'Candy', 'Canned Beans', 'Fresh Lamb', 'Dog Food', 'Batteries',
       'Sweet Goods', 'Oil', 'Breakfast Sausage', 'Cereal', 'Coffee',
       'Sugar and Sweeteners', 'Oral Hygiene', 'Condiments and Sauces',
       'Liquor', 'Personal Goods', 'Grill Accessories', 'Spices',
       'Snack Nuts and Dried Fruit', 'Cough and Cold', 'Pasta Sauce',
       'Fresh Sausage', 'Canned Vegetables', 'Tomatoes',
       'Antacids and Laxatives', 'Pasta', 'Diapers and Training Pants',
       'Cookies', 'Cheese', 'Multi Serve Meals', 'Vinegar', 'Paper',
       'Syrup', 'Gifts', 'Meat Snack', 'Hardware', 'Bulk Dried Fruit',
       'Flavored Milk', 'Hot Dogs', 'Frozen Pizza', 'Packaged Salad',
       'Frozen Bake', 'Onions', 'Refrigerated Baking', 'Skin Care', 'Soup',
       'Laundry', 'Books', 'Electronics', 'Bulk Nuts', 'Face Care',
       'Salty Snacks', 'Margarine or Butter', 'Flour and Breading',
       'Berries', 'Table Top', 'Refrigerated Beverages',
       'Cookware and Bakeware', 'Salad Toppings', 'Yogurt',
       'Peanut Butter', 'Jelly', 'Feminine Hygiene', 'Other Vegetables',
       'Pet Supplies', 'Hair Care', 'Eggs',
       'Frozen Desserts or Fruit and Toppings', 'Ice', 'Cleaners',
       'Canned Fruit', 'Shelf Stable Seafood', 'Crackers', 'Bath',
       'Lunchmeat', 'Plastic', 'Fluid Milk', 'Mushrooms',
       'Single Serve Meals', 'Kitchen Accessories', 'Frozen Breakfast',
       'Commercial Bread', 'Cream or Creamer', 'Specialty Fruits',
       'Specialty Milk', 'Apples', 'Frozen Juice',
       'Broccoli and Cauliflower', 'Ethnic Specialty', 'Dry Bean and Veg',
       'Dishwash', 'Citrus', 'Corn', 'Baking Mixes', 'Fruit Snacks',
       'Dry Dinners Pasta', 'Tea', 'Frozen Vegetables', 'Dinner Sausage',
       'Drink Mix', 'Lunch Combos', 'Analgesics', 'Salad Dressing',
       'Lawn And Garden Accessories', 'Dips and Salsas',
       'Stuffing Products', 'Canned Tomatoes',
       'Canned Meat Hashes and Stews', 'Magazines', 'Lettuce', 'Rice',
       'Milk or Water Modifiers', 'First Aid', 'Hair Color',
       'Meat or Cheese Alternative', 'Pickles and Olives',
       'Eye and Ear Care', 'Peppers', 'Greeting Cards Gift Wrap and Party',
       'Deodorant', 'Frozen Potatoes or Onions', 'Air Fresheners',
       'Shelf Stable Milk and Milk Like Bev', 'Barbecue Sauces',
       'Misc Dairy', 'Soap', 'Dairy Alternative Milk', 'Gum',
       'Catsup or Ketchup', 'Salad Dressings and Dips', 'Asian',
       'Refrigerated Pasta and Sauce', 'Auto', 'Potatoes', 'Carrots',
       'Chili', 'Pancake and Waffle Mixes', 'Baby HBC', 'Tonic and Mixers',
       'Dessert', 'Cleaner Accessories', 'Nail Care', 'Audio Video',
       'Mayonnaise', 'Herbs', 'Tortilla', 'Cosmetic', 'Cake Decorating',
       'Frozen Pet', 'Salt', 'Toys', 'Cultured', 'Hispanic',
       'School and Office Supplies', 'Kosher', 'Tree Fruit',
       'Family Planning', 'Foot Care', 'Dry Mix', 'Insect and Rodent',
       'Melons', 'Hosiery', 'Misc HBC', 'Canned Pasta',
       'Potatoes Packaged', 'Fresh Veal', 'Chili or Hot Sauce', 'Pickles',
       'Bananas', 'Misc Meat', 'Refrigerated Desserts',
       'Newspapers Calendars Maps', 'Shelf Stable Entrees',
       'Hair Accessories', 'Sporting Goods', 'Diabetic', 'Sun Care',
       'Bathroom Accessories', 'Salad or Side Toppings',
       'Dry Packaged Dinners and Kits', 'Clothing Care', 'Mustard',
       'Bulk Beans and Grains', 'Bulk Candy', 'Gift Cards'], dtype=object)

In [10]:
# convert DATE column string to datetime
df_CA['DATE'] = pd.to_datetime(df_CA['DATE'])
df_CA['Week_Number'] = df_CA['DATE'].dt.week
df_sales = df_CA.copy()
df_CA.head()

,STORE,CUSTOMER ID,DATE,DAY OF THE WEEK,SHOPPING TRIP ID,UPC,TOTAL AMOUNT(Unit price* QTY),QUANTITY,CATEGORY,SUBCATEGORY,PRODUCT DESCRIPTION,BRAND,Week_Number
0,A,RGWZGML,2019-12-20,Fri,SNVISCLSTBQQ1B5QBX,2.129990e+11,3645.00,9.0,major misc,major misc,(null),(null),51
1,C,XX77GXLZ,2019-12-20,Fri,SNVISCLSTBQY1N1TQ3,2.559360e+10,494.67,33.0,Self Service Deli Food Bar,Hot Entrees,DELI MEAL DEAL,(null),51
2,C,1MG1MGG,2019-12-11,Wed,SNVISCLSTGXT1YNYYY,8.289611e+09,455.76,24.0,Wine,1.5 L,FETZER VALLEY OAKS CHARDONNAY,FETZER,50
3,A,XX7RGM1L,2019-12-31,Tue,SNVISCLSTTXY3N33YB,9.999110e+05,434.74,12.0,major misc,major misc,(null),(null),1
4,C,RWL7MW7,2019-12-19,Thur,SNVISCLSTBTX215N1N,2.111930e+11,392.33,1.0,major misc,major misc,(null),(null),51

In [11]:
# drop (null) entires
df_CA['CATEGORY'] = df_CA['CATEGORY'].replace('(null)', 'No category listed')

In [12]:
# sum revenue by category
df_CA=df_CA.groupby(['CATEGORY'], as_index=False)['TOTAL AMOUNT(Unit price* QTY)', 'QUANTITY'].sum()

In [13]:
# rename column
df_CA.rename(columns={'TOTAL AMOUNT(Unit price* QTY)':'REVENUE', 'QUANTITY':'UNITS_MOVED'}, inplace=True)
df_CA.head()

                 CATEGORY   REVENUE  UNITS_MOVED
0         Adult Nutrition  23995.04       5578.0
1          Air Fresheners   5243.48       1190.0
2   Alternative Beverages  20579.08       4940.0
3              Analgesics   9762.63       1441.0
4  Antacids and Laxatives   7124.40        868.0

In [14]:
df_CA[['AVERAGE_SALES_PER_UNIT']] = df_CA[['REVENUE']].div(df_CA['UNITS_MOVED'].values,axis=0)

In [15]:
month_to_week = 7/31

In [16]:
df_CA[['REVENUE']] = df_CA[['REVENUE']].multiply(month_to_week)
df_CA[['UNITS_MOVED']] = df_CA[['UNITS_MOVED']].multiply(month_to_week)

RuntimeError: module compiled against API version 0xc but this version of numpy is 0xa

In [17]:
df_CA.head()

                 CATEGORY      REVENUE  UNITS_MOVED  AVERAGE_SALES_PER_UNIT
0         Adult Nutrition  5418.234839  1259.548387                4.301728
1          Air Fresheners  1184.011613   268.709677                4.406286
2   Alternative Beverages  4646.889032  1115.483871                4.165806
3              Analgesics  2204.464839   325.387097                6.774899
4  Antacids and Laxatives  1608.735484   196.000000                8.207834

In [18]:
# sort by revenue descending
df_CA.sort_values(['REVENUE'], inplace=True, ascending=[False])

In [19]:
# format Revenue column
df_CA['REVENUE'] = df_CA['REVENUE'].map('${:,.2f}'.format)
df_CA['UNITS_MOVED'] = df_CA['UNITS_MOVED'].map('{:,.2f}'.format)
df_CA['AVERAGE_SALES_PER_UNIT'] = df_CA['AVERAGE_SALES_PER_UNIT'].map('${:,.2f}'.format)

In [20]:
# check
df_CA = df_CA.reset_index()
df_CA.head()

,index,CATEGORY,REVENUE,UNITS_MOVED,AVERAGE_SALES_PER_UNIT
0,227,Wine,"$81,832.62","5,066.19",$16.15
1,88,Fresh Beef,"$46,214.17","3,293.84",$14.03
2,20,Beer,"$45,912.61","3,973.97",$11.55
3,197,Self Service Deli Cold,"$42,238.13","7,334.58",$5.76
4,161,No category listed,"$41,014.06","8,147.56",$5.03

In [21]:
# Write object to a comma-separated values (csv) file
df_CA.to_csv('Category Analysis.csv')

In [ ]:
df_weekly sales

## Important Brands

In [22]:
df_brands

,STORE,CUSTOMER ID,DATE,DAY OF THE WEEK,SHOPPING TRIP ID,UPC,TOTAL AMOUNT(Unit price* QTY),QUANTITY,CATEGORY,SUBCATEGORY,PRODUCT DESCRIPTION,BRAND
0,A,RGWZGML,12/20/2019,Fri,SNVISCLSTBQQ1B5QBX,2.129990e+11,3645.00,9.0,major misc,major misc,(null),(null)
1,C,XX77GXLZ,12/20/2019,Fri,SNVISCLSTBQY1N1TQ3,2.559360e+10,494.67,33.0,Self Service Deli Food Bar,Hot Entrees,DELI MEAL DEAL,(null)
2,C,1MG1MGG,12/11/2019,Wed,SNVISCLSTGXT1YNYYY,8.289611e+09,455.76,24.0,Wine,1.5 L,FETZER VALLEY OAKS CHARDONNAY,FETZER
3,A,XX7RGM1L,12/31/2019,Tue,SNVISCLSTTXY3N33YB,9.999110e+05,434.74,12.0,major misc,major misc,(null),(null)
4,C,RWL7MW7,12/19/2019,Thur,SNVISCLSTBTX215N1N,2.111930e+11,392.33,1.0,major misc,major misc,(null),(null)
5,C,XXLRZLZL,12/21/2019,Sat,SNVISCLSTBYQBTBTX2,2.112350e+11,390.08,1.0,Fresh Beef,Steak,DRY AGED OVEN READY BONE IN RIB ROAST,(null)
6,A,RL7RMW4,12/21/2019,Sat,SNVISCLSTB2YTT1N55,2.111960e+11,326.52,1.0,Fresh Beef,Roast,Beef Oven Ready Rib Roast,ALL OTHER BRANDS
7,C,RL7RMW4,12/27/2019,Fri,SNVISCLST3QXX255NT,2.131820e+11,296.87,15.0,Fresh Pork,Roast,HORMEL NATURAL CHOICE PORK BUTTS,HORMEL
8,A,MZRMW4W,12/23/2019,Mon,SNVISCLST3XQX3Y511,2.111960e+11,288.32,1.0,Fresh Beef,Roast,Beef Oven Ready Rib Roast,ALL OTHER BRANDS
9,A,XXGMM4LX,12/7/2019,Sat,SNVISCLSTX2YTQ3T5Q,2.137830e+11,283.05,10.0,Fresh Prepared Meat,Fresh Prepared Meat,SMOKEHOUSE SPIRAL W/BROWN SUGAR,ALL OTHER BRANDS
10,C,XX741GGR,12/23/2019,Mon,SNVISCLST3X2B1BXNN,2.111960e+11,276.26,1.0,Fresh Beef,Roast,Beef Oven Ready Rib Roast,ALL OTHER BRANDS
11,C,11RXXXM,12/19/2019,Thur,SNVISCLSTBTXT5Y3N2,8.551650e+10,269.91,9.0,Wine,Domestic 750 ml,MEIOMI PINOT NOIR,BELLE GLOS
12,A,M7Z1L4X,12/18/2019,Wed,SNVISCLSTBB135B2XX,2.111960e+11,269.63,1.0,Fresh Beef,Roast,Beef Oven Ready Rib Roast,ALL OTHER BRANDS
13,C,RXWWX71,12/18/2019,Wed,SNVISCLSTBB13N5225,2.112810e+11,267.87,2.0,Fresh Beef,Roast,CERTIFIED ANGUS BEEF WHOLE TENDERLOIN,ALL OTHER BRANDS
14,A,1WM7L4,12/12/2019,Thur,SNVISCLSTGT1TBYXTN,2.031700e+10,263.93,7.0,Bouquets and Cut Flowers,Bouquets and Cut Flowers,FLORAL DEPARTMENT,ALL OTHER BRANDS
15,C,RL7RMW4,12/6/2019,Fri,SNVISCLSTXT2YBQ33X,2.112420e+11,263.89,1.0,major misc,major misc,(null),(null)
16,B,XX7GZZXX,12/7/2019,Sat,SNVISCLSTX2TQX3NB5,2.505010e+10,260.91,3.0,Self Service Deli Food Bar,Hot Entrees,32 PIECE FRIED CHICKEN,(null)
17,C,XL447GM7,12/11/2019,Wed,SNVISCLSTGXQBX5TNQ,2.111830e+11,257.42,1.0,Fresh Beef,Steak,CERTIFIED ANGUS BEEF WHOLE BONE-IN BEEF RIB LOIN,(null)
18,C,XLGX1ZRX,12/21/2019,Sat,SNVISCLSTBYBB215TB,2.112950e+11,257.26,2.0,Fresh Beef,Roast,PREMIUM BLACK ANGUS WHOLE BEEF TENDERLOIN,ALL OTHER BRANDS
19,B,MZG1ZLR,12/22/2019,Sun,SNVISCLSTB55BNB11T,2.111960e+11,257.23,3.0,Fresh Beef,Roast,Beef Oven Ready Rib Roast,ALL OTHER BRANDS
20,D,MLZ7L7R,12/13/2019,Fri,SNVISCLSTGTN51T5QN,2.111830e+11,254.34,1.0,Fresh Beef,Steak,CERTIFIED ANGUS BEEF WHOLE BONE-IN BEEF RIB LOIN,(null)
21,A,M7WXXZM,12/27/2019,Fri,SNVISCLST3Q3T2T1X5,2.111930e+11,252.00,1.0,major misc,major misc,(null),(null)
22,C,RXWWX71,12/14/2019,Sat,SNVISCLSTG21Y1YBT5,2.140320e+11,242.83,4.0,Fresh Shellfish,Fresh Shellfish,(null),ALL OTHER BRANDS
23,C,1MM7ZGR,12/23/2019,Mon,SNVISCLSTBN2XTYYNX,2.111930e+11,233.01,1.0,major misc,major misc,(null),(null)
24,A,XXWXZXWR,12/23/2019,Mon,SNVISCLST3XBYX522B,2.111960e+11,231.23,1.0,Fresh Beef,Roast,Beef Oven Ready Rib Roast,ALL OTHER BRANDS
25,C,1MXW4ZW,12/18/2019,Wed,SNVISCLSTBBY5B2YBB,2.112770e+11,229.10,1.0,(null),(null),(null),(null)
26,C,RXZ4G4X,12/16/2019,Mon,SNVISCLSTGN555BBYN,8.981972e+09,227.88,12.0,Wine,Domestic 750 ml,"Beringer Cabernet Sauvignon, California, Vint....",BERINGER
27,C,RX7XLZR,12/8/2019,Sun,SNVISCLSTXY32T2B31,8.530860e+10,227.88,12.0,Wine,Domestic 750 ml,FITVINE PINOT GRIGIO,FITVINE
28,C,XLZW11G4,12/23/2019,Mon,SNVISCLST3XBYN55TQ,2.111960e+11,226.65,1.0,Fresh Beef,Roast,Beef Oven Ready Rib Roast,ALL OTHER BRANDS
29,A,RZW1RM1,12/20/2019,Fri,SNVISCLSTBQTB23X1X,2.111960e+11,225.97,1.0,Fresh Beef,Roast,Beef Oven Ready Rib Roast,ALL OTHER BRANDS
...,...,...,...,...,...,...,...,...,...,...,...,...
988039,C,11RZ4MM,12/17/2019,Tue,SNVISCLSTBXB3NN31Q,7.675007e+09,-300.00,-6.0,Gift Cards,Gift Cards,Gift Card Target Gift Card 50 1 Ct,ALL OTHER BRANDS
988040,C,GLWLR17,12/20/2019,Fri,SNVISCLSTBTQ21QQXY,7.675018e+09,-300.00,-2.0,Gift Cards,Gift Cards,VISA GIFT KEVLAR$20-500,GIFT CARD
988041,C,4G1MXLX,12/14/2019,Sat,SNVISCLSTG2Q35BQ23,7.675018e+09,-300.00,-1.0,Gift Cards,Gift Cards,VISA GIFT KEVLAR$20-500,GIFT CARD
988042,C,RGMRGR4,12/19/2019,Thur,SNVISCLSTB3NQY52NB,7.675018e+09,-300.00,-6.0,Gift Cards,Gift Cards,VISA CARD SPARKLE $50,GIFT CARD
988043,C,RX7X7ML,12/19/2019,Thur,SNVISCLSTB3NNYNBQY,7.675028e+09,-300.00,-3.0,(null),(null),(null),(null)
988044,C,XLRXMX4Z,12/20/2019,Fri,SNVISCLSTBQ51YN5NT,7.675028e+09,-300.00,-3.0,(null),(null),(null),(null)
988045,C,R7LMWXZ,12/18/2019,Wed,SNVISCLSTBB2QTY111,7.675028e+09,-300.00,-3.0,(null),(null),(null),(null)
988046,D,MRWG414,12/22/2019,Sun,SNVISCLSTBN1X5T5YT,7.675018e+09,-350.00,-7.0,Gift Cards,Gift Cards,KOHL'S $50.00 GIFT C,GIFT CARD
988047,A,M74MRXX,12/11/2019,Wed,SNVISCLSTG1T12NX2N,7.675011e+09,-400.00,-2.0,Gift Cards,Gift Cards,LOWES VAR $15-250,GIFT CARD
988048,A,M7W4R7L,12/12/2019,Thur,SNVISCLSTG3QB11TB5,7.675028e+09,-400.00,-8.0,Gift Cards,Gift Cards,$50 Mastercard Gift Card,ALL OTHER BRANDS
988049,B,ZGGLZLZ,12/18/2019,Wed,SNVISCLSTBBN1X33X1,7.675022e+09,-400.00,-2.0,(null),(null),(null),(null)
988050,B,RL7RMW4,12/21/2019,Sat,SNVISCLSTB22T2NY15,5.206000e+03,-400.00,-1.0,major misc,major misc,(null),ALL OTHER BRANDS
988051,C,RX7ML7R,12/20/2019,Fri,SNVISCLSTBT23NY15B,7.675016e+09,-400.00,-4.0,Gift Cards,Gift Cards,AMAZON.COM $100,ALL OTHER BRANDS
988052,A,RL7RMW4,12/23/2019,Mon,SNVISCLSTBNYNBYX32,7.675016e+09,-400.00,-4.0,Gift Cards,Gift Cards,AMAZON.COM $100,ALL OTHER BRANDS
988053,A,M71MGWX,12/22/2019,Sun,SNVISCLSTB51YXXX1T,7.675016e+09,-400.00,-2.0,(null),(null),(null),(null)
988054,A,M71MGWX,12/22/2019,Sun,SNVISCLSTB51YXXX1T,7.675009e+09,-400.00,-1.0,(null),(null),(null),(null)
988055,C,RMLXGGX,12/13/2019,Fri,SNVISCLSTGT2QYXY2X,7.675018e+09,-400.00,-2.0,Gift Cards,Gift Cards,VISA GIFT KEVLAR$20-500,GIFT CARD
988056,C,7LMZ4LX,12/11/2019,Wed,SNVISCLSTG1B2YN33Y,7.675016e+09,-500.00,-2.0,(null),(null),(null),(null)
988057,C,XLZW7M4Z,12/8/2019,Sun,SNVISCLSTXYN5N5X1Q,7.675018e+09,-500.00,-1.0,Gift Cards,Gift Cards,VISA GIFT KEVLAR$20-500,GIFT CARD
988058,C,XL4R71GW,12/12/2019,Thur,SNVISCLSTG3BQ1YBXY,7.675018e+09,-500.00,-1.0,Gift Cards,Gift Cards,VISA GIFT KEVLAR$20-500,GIFT CARD
988059,C,4GLM4W7,12/18/2019,Wed,SNVISCLSTBBY553B22,7.675028e+09,-500.00,-5.0,(null),(null),(null),(null)
988060,A,RLWWGZR,12/20/2019,Fri,SNVISCLSTBQX2331BY,7.675028e+09,-600.00,-2.0,Gift Cards,Gift Cards,MASTERCARD VAR $20-500,ALL OTHER BRANDS
988061,C,1141GRW,12/10/2019,Tue,SNVISCLSTG153535TX,7.675010e+09,-600.00,-3.0,(null),(null),(null),(null)
988062,C,4GLM4W7,12/18/2019,Wed,SNVISCLSTBBY553B22,7.675018e+09,-700.00,-7.0,Gift Cards,Gift Cards,VISA GIFT KEVLAR$20-500,GIFT CARD
988063,B,RLMWRLX,12/24/2019,Tue,SNVISCLST315TY2BNX,7.675028e+09,-700.00,-7.0,(null),(null),(null),(null)
988064,C,1141GRW,12/27/2019,Fri,SNVISCLST3Q3T32Y5Q,7.675010e+09,-900.00,-5.0,(null),(null),(null),(null)
988065,A,RLWWGZR,12/20/2019,Fri,SNVISCLSTBQX2331BY,7.675018e+09,-900.00,-3.0,Gift Cards,Gift Cards,VISA GIFT KEVLAR$20-500,GIFT CARD
988066,C,1MMRML4,12/17/2019,Tue,SNVISCLSTB1X2XQQ23,7.675018e+09,-2000.00,-20.0,Gift Cards,Gift Cards,VISA CARD SPARKLE $100,GIFT CARD
988067,C,XLWG4RRM,12/14/2019,Sat,SNVISCLSTGYXBTBTQB,7.675018e+09,-2102.00,-5.0,Gift Cards,Gift Cards,VISA GIFT KEVLAR$20-500,GIFT CARD
988068,C,XLZLXRML,12/1/2019,Sun,SNVISCLSTX15QTNT3Q,7.675018e+09,-101100.00,-6.0,Gift Cards,Gift Cards,VISA GIFT KEVLAR$20-500,GIFT CARD

In [23]:
# sum revenue by brand
df_brands=df_brands.groupby(['BRAND'], as_index=False)['TOTAL AMOUNT(Unit price* QTY)', 'QUANTITY'].sum()

In [24]:
# rename (null) entires
df_brands['BRAND'] = df_brands['BRAND'].replace('(null)', 'NO BRAND LISTED')
df_brands.head()

             BRAND  TOTAL AMOUNT(Unit price* QTY)  QUANTITY
0  NO BRAND LISTED                      601919.71  98698.63
1        100 GRAND                         156.20    142.00
2     1000 STORIES                         307.86     14.00
3              123                          20.34      6.00
4         14 HANDS                        2453.33    167.00

In [25]:
# rename column
df_brands.rename(columns={'TOTAL AMOUNT(Unit price* QTY)':'REVENUE', 'QUANTITY':'UNITS_MOVED'}, inplace=True)
df_brands.head()

             BRAND    REVENUE  UNITS_MOVED
0  NO BRAND LISTED  601919.71     98698.63
1        100 GRAND     156.20       142.00
2     1000 STORIES     307.86        14.00
3              123      20.34         6.00
4         14 HANDS    2453.33       167.00

In [26]:
# sort by revenue descending
df_brands.sort_values(['REVENUE'], inplace=True, ascending=[False])

In [27]:
df_brands.head()

                 BRAND    REVENUE  UNITS_MOVED
83    ALL OTHER BRANDS  748636.60    194006.99
0      NO BRAND LISTED  601919.71     98698.63
2703     PRIVATE LABEL  446660.74    144065.00
383         BOARS HEAD   76011.56     10083.00
1257     FRESH EXPRESS   38802.00      9940.00

In [28]:
df_brands[['AVERAGE_SALES_PER_UNIT']] = df_brands[['REVENUE']].div(df_brands['UNITS_MOVED'].values,axis=0)

In [29]:
df_brands['REVENUE'] = df_brands['REVENUE'].map('${:,.2f}'.format)
df_brands['UNITS_MOVED'] = df_brands['UNITS_MOVED'].map('{:,.2f}'.format)

In [31]:
df_brands.tail(10)

                       BRAND       REVENUE UNITS_MOVED  AVERAGE_SALES_PER_UNIT
3621                    VOSS         $1.59        1.00                1.590000
2203                    MOJO         $1.49        1.00                1.490000
1085                 EL PATO         $1.45        1.00                1.450000
2717            PUDDLE WINKS         $1.00        0.00                     inf
726                 CLARISSE         $1.00        1.00                1.000000
1329  GENERAL MILLS CHEX MIX         $0.00        0.00                     NaN
3257                 STREITS         $0.00        0.00                     NaN
1639            ITS A 10         $0.00        0.00                     NaN
1345                GIFTCARD    $-1,275.00      -54.00               23.611111
1344               GIFT CARD  $-190,562.33   -2,244.00               84.920824

In [578]:
# Write object to a comma-separated values (csv) file
df_brands.to_csv('Important Brands.csv')

## Best Performing Store

In [580]:
df_store = df.copy()

In [581]:
# sum revenue by store
df_store=df_store.groupby(['STORE'], as_index=False)['TOTAL AMOUNT(Unit price* QTY)', 'QUANTITY'].sum()

In [582]:
# rename column
df_store.rename(columns={'TOTAL AMOUNT(Unit price* QTY)':'REVENUE', 'QUANTITY':'UNITS_MOVED'}, inplace=True)
df_store.head()

  STORE       REVENUE  UNITS_MOVED
0     A  2.192678e+06    494964.99
1     B  9.880333e+05    229585.92
2     C  1.619924e+06    370912.45
3     D  4.461270e+05    115665.53

In [583]:
# sort by revenue descending
df_store.sort_values(['REVENUE'], inplace=True, ascending=[False])

In [585]:
df_store.head()

  STORE       REVENUE  UNITS_MOVED
0     A  2.192678e+06    494964.99
2     C  1.619924e+06    370912.45
1     B  9.880333e+05    229585.92
3     D  4.461270e+05    115665.53

In [587]:
df_store['REVENUE'] = df_store['REVENUE'].map('${:,.2f}'.format)
df_store['UNITS_MOVED'] = df_store['UNITS_MOVED'].map('{:,.2f}'.format)

In [588]:
df_store.head()

  STORE        REVENUE UNITS_MOVED
0     A  $2,192,677.67  494,964.99
2     C  $1,619,923.52  370,912.45
1     B    $988,033.32  229,585.92
3     D    $446,126.96  115,665.53

In [589]:
# Write object to a comma-separated values (csv) file
df_store.to_csv('Best Performing Store.csv')